[submodule "submodules/aws-vpc"]
	path = submodules/aws-vpc
	url = git@github-safoorsafdar:safoorsafdar/aws-vpc.git
[submodule "submodules/aws-linux-bastion"]
	path = submodules/aws-linux-bastion
	url = git@github-safoorsafdar:safoorsafdar/aws-linux-bastion.git
